<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.graeme.beamitup">

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.NFC" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LandingPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateTransfer"
            android:label="@string/title_activity_transfer_money"
            android:parentActivityName=".LandingPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.graeme.beamitup.LandingPage" />
        </activity>
        <activity
            android:name=".ReadyTransfer"
            android:label="@string/title_activity_ready_transfer"
            android:parentActivityName=".CreateTransfer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.graeme.beamitup.CreateTransfer" />
        </activity>
        <activity
            android:name=".ReplyTransfer"
            android:label="@string/title_activity_reply_transfer"
            android:parentActivityName=".LandingPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.graeme.beamitup.LandingPage" />

            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <data android:mimeType="application/com.example.graeme.beamitup/ready_transfer" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FinishTransfer"
            android:label="@string/title_activity_finish_transfer"
            android:parentActivityName=".LandingPage">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <data android:mimeType="application/com.example.graeme.beamitup/reply_transfer" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.graeme.beamitup.LandingPage" />
        </activity>
    </application>

</manifest>