<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.graeme.beamitup">

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".CreateTransferActivity"
            android:label="@string/title_activity_transfer_money"
            android:screenOrientation="portrait"
            android:parentActivityName=".LandingPageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.graeme.beamitup.LandingPageActivity" />
        </activity>
        <activity
            android:name=".ReadyTransferActivity"
            android:label="@string/title_activity_ready_transfer"
            android:screenOrientation="portrait"
            android:parentActivityName=".CreateTransferActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.graeme.beamitup.CreateTransferActivity" />
        </activity>
        <activity
            android:name=".ReplyTransferActivity"
            android:label="@string/title_activity_reply_transfer"
            android:screenOrientation="portrait"
            android:parentActivityName=".LandingPageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.graeme.beamitup.LandingPageActivity" />
        </activity>
        <activity
            android:name=".FinishTransferActivity"
            android:label="@string/title_activity_finish_transfer"
            android:screenOrientation="portrait"
            android:parentActivityName=".LandingPageActivity">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <data android:mimeType="application/com.example.graeme.beamitup/reply_transfer" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.graeme.beamitup.LandingPageActivity" />
        </activity>
        <activity
            android:name=".CreateAccountActivity"
            android:label="@string/title_activity_create_account"
            android:screenOrientation="portrait"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.graeme.beamitup.LoginActivity" />
        </activity>
        <activity
            android:name=".LandingPageActivity"
            android:label="@string/title_activity_landing_page"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".AddEthActivity"
            android:label="@string/title_activity_add_eth"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ReceiveTransferActivity"
            android:label="@string/title_activity_receive_transfer"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateReplyTransferActivity"
            android:label="@string/title_activity_create_reply_transfer"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <data android:mimeType="application/com.example.graeme.beamitup/ready_transfer" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>