<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.graeme.beamitup">

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BeamItUp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".LandingPageActivity"
            android:label="@string/title_activity_landing_page"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".eth.AddEthActivity"
            android:label="@string/title_activity_add_eth"
            android:screenOrientation="portrait" />
        <activity
            android:name=".request.CreateRequestActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".LandingPageActivity"
            android:label="@string/title_activity_create_request" />
        <activity
            android:name=".request.ReadyRequestActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".LandingPageActivity"
            android:label="@string/title_activity_ready_request" />
        <activity
            android:name=".request.ReceiveRequestActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".LandingPageActivity"
            android:label="@string/title_activity_receive_request" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <data android:mimeType="com.example.graeme.beamitup/request" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".request.FinishRequestActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".LandingPageActivity"
            android:label="@string/title_activity_finish_request" />
    </application>

</manifest>